<style>
#home-banner {
    background-image: url('{% include image/featured-image.html %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
    margin-top:20px;
}
#home-title-box {
    padding-top: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    padding-bottom: {{ site.data.theme.home-title-y-padding | default: '5em' }};
}
.banner{
    height:200px;    
}
@media screen and (max-width: 576px) {
    #home-title-box {
        max-height: 500px;
    }
}
</style>

{% if page.layout == "home-infographic" and site.data.theme.featured-image %}
<div class="container">
    <div id="home-banner" class="container-fluid mb-0 p-0">
        <div id="home-title-box" class="position-relative" >
            {% unless site.data.theme.featured-image contains '/' %}
            <div class="position-absolute bottom-0 end-0 px-2 bg-dark bg-opacity-75">
                <a class="text-white fs-6" href="{{ site.data.theme.featured-image | prepend: '/item.html?id=' | relative_url }}" title="{{ featuredItem.title | escape }}">Featured Image</a>
            </div>{% endunless %}
        </div>
    </div>
</div>
{%- else -%}
<!-- <div class="container">
    <div class="row align-items-center">
        <div id="title" class="{% if site.organization-logo-banner %}col-md-9{% else %}col-12{% endif %}">
            <h1><a class="text-dark font-weight-normal" href="{{ site.baseurl }}/" >{{ site.title }}</a></h1>	 
            {% if site.tagline %}<p>{{ site.tagline }}</p>{% endif %}
        </div>
        {% if site.organization-logo-banner %}
        <div class="col-md-3 d-none d-lg-block text-end">
            <a class="btn btn-outline-light" href="{{ site.organization-link }}" target="_blank" rel="noopener">
                <img class="img-fluid" src="{{ site.organization-logo-banner | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name }} home" >
            </a>
        </div>
        {% endif %}
    </div>
</div> -->
<div class="container">
    <div id="home-banner" class="banner container-fluid mb-0 p-0">
        <div id="title-box">
            <div id="title" class="{% if site.organization-logo-banner %}col-md-9{% else %}col-12{% endif %}">
                <h1><a class="text-dark font-weight-normal" href="{{ site.baseurl }}/" style="line-height:200px; padding-left:20px; color:white">{{ page.title }}</a></h1>
            </div>
        </div>
    </div>
</div>
{%- endif -%}
