<style>

#Footer .container .row #footer {
    width: 100%;
    min-height: 200px;
    background: #252525;
    margin-top: 15px;
}

#Footer .container .row #footer .left_side {
/*     height: 200px; */
    /* background: blue; */
}

#Footer .container .row #footer .left_side .heading {
    width: 100%;
    height: 50px;
    /* background: wheat; */
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
    color: white;
}

#Footer .container .row #footer .left_side .icons {
    width: 100%;
    height: 50px;
    /* background: yellow; */
    display: flex;
    align-items: center;
    padding-left: 20px;
    /* justify-content: center; */
}

#Footer .container .row #footer .left_side .icons i {
    padding-right: 10px;
    color: white;
}

#Footer .container .row #footer .left_side .txt_left {
    width: 100%;
    /* height: 200px; */
    padding-left: 20px;
    color: white;
}

#Footer .container .row #footer .middle {
    height: 200px;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* #Footer .container .row #footer .middle .logo {
    width: 100%;
    min-height: 10px;
    display: flex;
    justify-content: center;
} */
    
#Footer .container .row #footer .middle .social_medias {
/*     width: 170px;
    height: 40px; */
    background: #212329;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #AAAAAA;
}



#Footer .container .row #footer .right_side {
    height: 200px;
    /* background: green; */
}

#Footer .container .row #footer .right_side .heading_right {
    width: 100%;
    height: 50px;
    /* background: wheat; */
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
    color: white;
}

#Footer .container .row #footer .right_side .txt_right {
    width: 350px;
    /* height: 200px; */
    padding-left: 20px;
    color: white;
} 
        
</style>

<section id="Footer">
        <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div id="footer">
              <div class="row">
                <div class="left_side col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="row">
                    <div class="heading">
                      <b>Licensing</b>
                    </div>

                    <div class="txt_left">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <u>Quasi dolor ducimus sit iusto,
                          dignissimos possimus tenetur quam. Officiis, facere temporibus?</u> Dicta iusto nulla
                        molestiae </p>
                    </div>
                  </div>

                </div>


                <div class="middle col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="row">

                    <div class="logo">
                      <img src="{{ '/assets/img/uo.png' | relative_url }}" width="120px" height="120px" alt="">
                    </div>

<!--                     <div class="social_medias">
                      <i class="fa-brands fa-twitter fa-2x"></i>
                      <i class="fa-brands fa-pinterest fa-2x"></i>
                      <i class="fa-brands fa-facebook fa-2x"></i>
                      <i class="fa-brands fa-instagram fa-2x"></i>
                    </div> -->
                      
                      <div class="col-md-4 social-icons" style="display:inheret">
                        <a href="http://www.facebook.com/uolibraries" style="margin-left:5px">
                          <img alt="Facebook" src="{{ '/assets/img/icon-facebook-88d3ee20b79b44e199ea8c81ca862e5175e10509b670f20f0b4d4c083b2a1781.png' | relative_url }}" />
                        </a>
                        <a href="http://twitter.com/uolibraries" style="margin-left:5px">
                          <img alt="Twitter" src="{{ '/assets/img/icon-twitter-a7709b4ef19e2dc5355b47f03f5e0061df403295f5f6f3534c50e247b8a0f802.png' | relative_url }}" />
                        </a>
                        <a href="https://www.youtube.com/c/uolibrarieseugene" style="margin-left:5px">
                          <img alt="YouTube Channel" src="{{ '/assets/img/icon-youtube-c500b3f1dfde6e8a78c28b4ddec4b7a40d2cf1fcb10b0f1dc2bfed803f78081f.png' | relative_url }}" />
                        </a>
                        <a href="https://www.instagram.com/uolibraries/" style="margin-left:5px">
                          <img alt="Instagram" src="{{ '/assets/img/icon-instagram-e4d4314c6af3d11cba150c96185d8625830b6ba43401547ff7e3a9b3030866df.png' | relative_url }}" />
                        </a>
                      </div>

                  </div>

                </div>


                <div class="right_side col-xs-12 col-sm-4 col-md-4 col-lg-4">


                  <div class="row">
                    <div class="heading_right">
                      <b>Sponsors</b>
                    </div>

                    <div class="txt_right">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <u>Quasi dolor ducimus sit iusto,
                          dignissimos possimus tenetur quam. Officiis, facere temporibus?</u> Dicta iusto nulla
                        molestiae </p>
                    </div>

                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>
</section>
<!-- <footer class="bg-dark pt-4 mt-auto container-fluid">

    <div class="row border-bottom border-white pb-4 mb-2">

        <div class="col-md-7  px-4 mt-2">

            <h4><a href="{{ '/' | relative_url }}" class="text-white font-weight-normal">{{ site.title }}</a></h4>
            <p class="text-white"><small>{{ site.description }}</small></p>
            <nav>
                <ul id="footer-nav" class="nav nav-pills ">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%}
                    {% for nav in navItems %}
                    <li class="nav-item">
                    {% if nav.stub %}
                        <a class="nav-link text-light{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                    {%- else -%}
                    {% assign childStub = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' | first %}
                        <a class="nav-link text-light{% if page.url == childStub.stub %} active{% endif %}" href="{{ childStub.stub | relative_url }}">{{ nav.display_name }}</a>
                    {% endif %}
                    </li>
                    {%- endfor -%}
                </ul>
            </nav>

        </div>

        <div class="col-md-5 mt-2 text-end">

           {% if site.organization-logo-nav %} <p class="text-end">
                <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                    <img id="footer-logo" class="img-fluid" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name }} home">
                </a>
            </p>
            {% endif %}
            <p class="text-white" id="footer-credits">
                <small><em>built with</em>
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder logo" >
                    </a>
                </small>
            </p>

        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <p class="text-white">Last updated {{ site.time | date: '%Y' }}</p>
    </div>

</footer> -->
