---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  
  <div class="col-md-12">
    <div class="col-md-7">
      <div class="heading">
          <h1>Welcome to Yokai <br> Senjayafuda</h1>
      </div>

       <div class="title">
         <h1>Digital Collection of japanese <br> ghosts and monsters</h1>
       </div>

       <div class="txt">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vel eum porro? Eum ipsum quis
                      provident blanditiis quod soluta quisquam consequuntur? Nemo maxime repellendus, ipsa aperiam
                      tempora dolorem sunt vel.
                      Libero sequi nihil non aperiam quaerat tempore, hic ipsum sapiente ullam deleniti sed id,
                      quibusdam maxime amet. Quibusdam exercitationem quae voluptates nihil, adipisci sequi ipsa
                      doloribus dolorum quo temporibus voluptatibus.
                      Ex, quisquam sed! Porro possimus nostrum quisquam officia quidem nesciunt ullam aliquid molestiae
                      adipisci minima dignissimos autem perferendis tenetur, omnis placeat, quam quaerat nihil veniam
                      error saepe praesentium amet? Consequuntur!</p>
       </div>

       <div class="button">
         <div class="btn btn-danger">More Details</div>
       </div>
    </div>
    <div class="col-md-5"></div>
  </div>
  
  <div class="col-md-12">
    <div class="heading text-center">
      <h1>Featured exhibits</h1>
      
      {%- assign boxItems = site.data.featured-exhibits -%} 
      
      {% for box in boxItems %}
        <div class="card col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
         <img src="{{ box.bg_img }}" width="100%" height="200px" alt="img_place">
         <div id="txt_place">
           <heading><b>{{ box.name }}</b></heading>
           <p>{{ box.description }}</p>
         </div>
       </div>
      {% endfor %}  
      
    </div>
  </div>
  
</div>
